<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workouts</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/dashboard/dashboard.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <style>
        .motion
        {
        padding: 5px 16px;
        margin: 10px 0;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0                   rgba(0,0,0,0.12)!important;
        }

        form {
            border-radius: 20px;
            padding: 0.3em;
        }

        form .row {
            margin-top: 0.5rem;
        }


    </style>
    <link href="dist/toolkit-inverse.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>
            Create a Workout
        </h1>
    </div>
    <form action="/workouts" method="POST">
        <div class="row">
            <div class="col-4">
                Workout Name:
            </div>
            <div class="btn-toolbar-item input-with-icon">
                <input type="text" name="workoutName" class="form-control input-block" placeholder="Workout Name">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                Workout Duration:
            </div>
            <div>
                <input type="int" name="workoutDuration" class="form-control input-block" placeholder="    Workout Duration">
            </div>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-4">
                Workout Description
            </div>
            <div>
                <textarea name="description" class="form-control input-block" rows="5" cols="40" placeholder="    Workout Description"></textarea>
            </div>
            <br>
            <br>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <p><font size="5" color="white">Motions</font></p>
            </div>
        </div>

        <div id="motions">

        </div>
        <div class="row">
            <div class="col">
                <button id="addMotion" type="button" class="btn btn-primary btn-sm"
                        data-toggle="tooltip" data-placement="top" title="Click to add motion"
                        style="height:30px;width:30px">+
                </button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-lg btn-pill btn-primary">Save</button>
            </div>
        </div>
    </form>
    <a href="/home">
        <div class="col">
            <button class="btn btn-lg btn-pill btn-danger" type="submit">Go back</button>
        </div>
    </a>

    <div class="row">
        <h1>
            Existing Workouts
        </h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Workout Name</th>
            <th scope="col">Duration</th>
            <th scope="col">Reward Point</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="workout: ${workouts}">
            <td th:text="${workout.getName()}"></td>
            <td th:text="${workout.getDuration()}"></td>
            <td th:text="${workout.getRewardingPoint()}"></td>
            <td><a class="btn btn-lg btn-pill btn-primary" role="button" th:href="'/workouts/' + ${workout.getId()}">Go</a></td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
<script>
    motionHTML = (i) => `
  <div class="motion">
    <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
    <label for="exampleFormControlSelect1">Moves</label>
    <select name="move${i}" class="form-control  btn btn-secondary "  id="exampleFormControlSelect1" style="width: 150px;" >
      <option>BENCH_PRESS</option>
      <option>PULL_UP</option>
      <option>PUSH_UP</option>
      <option>BICEPS_CURL</option>
      <option>RUNNING</option>
      <option>ROWING</option>
      <option>BOXING</option>
      <option>JUMP_ROPE</option>
      <option>PLANK</option>
      <option>DIPS</option>
      <option>SQUAT</option>
      <option>SHOULDER_PRESS</option>
      <option>SIT_UP</option>
      <option>BARBELL_CURL</option>
      <option>LEG_PRESS</option>
      <option>LUNGE</option>
      <option>LEG_RAISE</option>
      <option>TRICEPS_CURL</option>


    </select>
  </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
     Number of Sets
    </div>
    <div>
      <input type="int" name="sets${i}" class="form-control input-block" placeholder="Number of Sets">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
     Number of Repetitions
    </div>
    <div>
      <input type="int" name="reps${i}" class="form-control input-block" placeholder="Number of Repetitions">
    </div>
  </div>
  <div class="row">
    <div class="col-4">
       Weight
    </div>
    <div>
      <input type="int" name="weight${i}" class="form-control input-block" placeholder="Weight" >
    </div>
  </div>
  <div class="row">
    <div class="col-4">
       Reward Points
    </div>
    <div>
      <input type="int" name="rewards${i}" class="form-control input-block" placeholder="Reward Points" >
    </div>
  </div>
  </div>
`
$(document).ready(() => {
	let totalMotionCount = 0

	$("#addMotion").click((event) => {
	    if (totalMotionCount >= 10) {
	        alert("Can not more than 10 motions")
	        return
	    }
	    event.preventDefault()
		let html = motionHTML(totalMotionCount++)
  	    $("#motions").append(html)
  })
  $('[data-toggle="tooltip"]').tooltip()
})

</script>
